@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9974zz');
  src:  url('fonts/icomoon.eot?9974zz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9974zz') format('truetype'),
    url('fonts/icomoon.woff?9974zz') format('woff'),
    url('fonts/icomoon.svg?9974zz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bitcoin:before {
  content: "\e90d";
}
.icon-colourlovers:before {
  content: "\e908";
}
.icon-indiewebcamp:before {
  content: "\e90c";
}
.icon-beeminder:before {
  content: "\e90b";
}
.icon-venmo:before {
  content: "\e90a";
}
.icon-squarecash:before {
  content: "\e909";
}
.icon-geoloqi:before {
  content: "\e902";
}
.icon-calagator:before {
  content: "\e906";
}
.icon-eventbrite:before {
  content: "\e905";
}
.icon-runkeeper:before {
  content: "\e904";
}
.icon-secret:before {
  content: "\e903";
}
.icon-w3c:before {
  content: "\e93b";
}
.icon-disqus:before {
  content: "\e900";
  color: #575b5d;
}
.icon-jawboneup:before {
  content: "\e934";
}
.icon-swarm:before {
  content: "\e907";
}
.icon-lanyrd:before {
  content: "\e901";
}
.icon-amazon:before {
  content: "\ea87";
}
